{{define "header"}}
<h1 class="mb-0">Welcome to goreddit</h1>
{{end}}

{{define "content"}}
<div class="card mb-4">
    <div class="d-flex">
        <div class="py-4 pl-4 text-center flex-shrink-0" style="width: 3rem">
            <a href="#" class="d-block text-body text-decoration-none">
                <svg viewBox="0 0 10 16" width="10" height="16">
                    <path fill-rule="evenodd" d="M10 10l-1.5 1.5L5 7.75 1.5 11.5 0 10l5-5 5 5z"></path>
                </svg>
            </a>
            <div class="mt-1">10</div>
            <a href="#" class="d-block text-body text-decoration-none">
                <svg viewBox="0 0 10 16" width="10" height="16">
                    <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"></path>
                </svg>
            </a>
        </div>
        <div class="card-body">
            <a href="#" class="small text-secondary">The Go Programming Language</a>
            <a href="#" class="d-block card-title text-body mt-1 h5">
                My experience with learning Golang
            </a>
            <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                est Lorem ipsum dolor sit amet.</p>
            <a href="post.html">2 Comments</a>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="d-flex">
        <div class="py-4 pl-4 text-center flex-shrink-0" style="width: 3rem">
            <a href="#" class="d-block text-body text-decoration-none">
                <svg viewBox="0 0 10 16" width="10" height="16">
                    <path fill-rule="evenodd" d="M10 10l-1.5 1.5L5 7.75 1.5 11.5 0 10l5-5 5 5z"></path>
                </svg>
            </a>
            <div class="mt-1">2</div>
            <a href="#" class="d-block text-body text-decoration-none">
                <svg viewBox="0 0 10 16" width="10" height="16">
                    <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z"></path>
                </svg>
            </a>
        </div>
        <div class="card-body">
            <a href="#" class="small text-secondary">The Go Programming Language</a>
            <a href="#" class="d-block card-title text-body mt-1 h5">
                Lorem ipsum dolor sit amet, consetetur
            </a>
            <p class="card-text">
                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
                    sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                    justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
                    est Lorem ipsum dolor sit amet.
                </p>
            </p>
            <a href="post.html">0 Comments</a>
        </div>
    </div>
</div>
{{end}}

{{define "sidebar"}}
<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Explore interesting threads</h5>
        <p class="card-text">Browse through hundreds of interesting threads with great communities.</p>
        <a href="#" class="btn btn-primary btn-block">Browse Threads</a>
    </div>
</div>
{{end}}