<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-light container">
        <a class="navbar-brand text-primary" href="/">goreddit</a>
        <div class="flex-fill"></div>
        {{if .LoggedIn}}
        {{.User.Username}}
        <a class="text-primary ml-3" href="/logout">Logout</a>
        {{else}}
        <a class="text-primary" href="/login">Login</a>
        <a class="text-primary ml-3" href="/register">Register</a>
        {{end}}
    </nav>
    <div class="header bg-light border-bottom border-top py-5">
        <div class="container">
            {{block "header" .}}{{end}}
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-xl-8 order-1 order-xl-0">
                {{with .FlashMessage}}
                <div class="alert alert-primary" role="alert">
                    {{.}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{end}}

                {{block "content" .}}{{end}}
            </div>
            <div class="col-xl-4 order-0 order-xl-1">
                {{block "sidebar" .}}{{end}}
            </div>
        </div>
    </div>

    <script>
        $('.alert').alert();
    </script>
</body>

</html>