{{define "header"}}
<h5>Create a new post in</h5>
<h1 class="mb-0">{{.Thread.Title}}</h1>
{{end}}

{{define "content"}}
<form action="/threads/{{.Thread.ID}}" method="POST">
    {{.CSRF}}
    <div class="form-group">
        <label>Title</label>
        <input name="title" type="text" class="form-control {{with .Form.Errors.Title}}is-invalid{{end}}"
            placeholder="Give your post a great title" value="{{with .Form.Title}}{{.}}{{end}}">
        {{with .Form.Errors.Title}}
        <div class="invalid-feedback">{{.}}</div>
        {{end}}
    </div>
    <div class="form-group">
        <label>Text</label>
        <textarea name="content" class="form-control {{with .Form.Errors.Content}}is-invalid{{end}}" rows="3"
            placeholder="Tell people about your thoughts">
            {{- with .Form.Content}}{{.}}{{end -}}
        </textarea>
        {{with .Form.Errors.Content}}
        <div class="invalid-feedback">{{.}}</div>
        {{end}}
    </div>
    <button type="submit" class="btn btn-primary">Submit Post</button>
</form>
{{end}}